// menu__grid full open
@keyframes menuFullOpen {
	from {
		clip: rect(0, 263px, 0px, 0);
	}
	50% {
		clip: rect(0, 263px, 520px, 0);
	}
	to {
		clip: rect(0, 655px, 520px, 0);
	}
}

// menu__grid full close
@keyframes menuFullClose {
	from {
		clip: rect(0, 655px, 520px, 0);
	}
	50% {
		clip: rect(0, 263px, 520px, 0);
	}
	to {
		clip: rect(0, 263px, 0px, 0);
	}
}

// menu__grid full open
@keyframes menuHulfOpen {
	from {
		clip: rect(0, 263px, 0px, 0);
	}
	50% {
		clip: rect(0, 263px, 260px, 0);
	}
	to {
		clip: rect(0, 263px, 260px, 0);
	}
}

// menu__grid full close
@keyframes menuHulfClose {
	from {
		clip: rect(0, 263px, 260px, 0);
	}
	50% {
		clip: rect(0, 263px, 0, 0);
	}
	to {
		clip: rect(0, 263px, 0px, 0);
	}
}
