@font-face {
	font-family: araboto;
	font-display: swap;
	src: url("../fonts/araboto-medium.woff2") format("woff2"), url("../fonts/araboto-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: araboto;
	font-display: swap;
	src: url("../fonts/araboto-bold.woff2") format("woff2"), url("../fonts/araboto-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: dinpro;
	font-display: swap;
	src: url("../fonts/dinpro-bold.woff2") format("woff2"), url("../fonts/dinpro-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
