.actions-header {
	position: relative;

	&__grid {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-rows: repeat(3, auto);
		grid-auto-flow: column;
		column-gap: 5px;
		align-items: center;

		// border: 1px solid #000;
	}

	&__item {
		color: #000;
		font-size: 14px;
		font-family: araboto;
		font-weight: 700;
		line-height: 1.5;
		transition: all 0.3s ease 0s;

		&_icon {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		@media (hover: hover) {
			&_icon_location:hover {
				transform: translateY(-5px);
			}
		}
	}

	&__list {
		opacity: 0;
		visibility: hidden;

		position: absolute;
		width: 100%;
		height: auto;
		top: 24px;
		left: 0;

		padding: 15px 24px 18px 24px;
		background-color: rgba($color: #ffffff, $alpha: 0.8);

		color: #000;
		font-size: 10px;
		font-family: araboto;
		font-weight: 500;
	}

	&__list-item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__link {
		&:hover {
			text-decoration: underline;
		}
	}

	.open {
		opacity: 1;
		visibility: visible;
	}
}
