// Заголовки, общие БЄМ блоки и проче...
.button {
	min-height: 40px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 2px;
	border: 2px solid var(--blue);
	background: var(--white);

	font: normal 700 14 / normal $fontFamily;
	color: #000;
	transition: all 0.3s ease 0s;

	@media(hover: hover){
		&:hover{
			background-color: var(--blue);
			color: var(--white);
			opacity: 0.87;
		}
	}
}
