.header {
	padding: 25px 0 20px;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		max-width: 1225px;
	}

	&__logo {
		font-family: "dinpro";
		color: #000;
		font-size: 32px;
		font-weight: 700;
	}

	&__menu {
	}

	&__actions {
	}
}
